.Content {
    margin-top: 120px;
    background-color: #EEE;
    border: #CCC;
    height: 600px;
    border-radius: 10px;
}

@media (max-width: 499px) {
    .Content {
        margin-top: 100px;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
}


