.Color {
    background-color: rgb(2, 25, 48) !important;
    z-index: 100 !important;
}
/* .Color .mrAuto *:hover{
    color: #40c4ff !important;
}
.Color .mrAuto *:focus{
    color: #40c4ff !important;
}
.Color .mrAuto *:active{
    color: #40c4ff !important;
} */ 
